[2014-04-13 21:07] hohl opened #1 "Use Travis for Continuos Integration"

[2014-04-15 16:32] #1 closed, assigned to hohl

[2014-04-15 16:33] hohl opened #2 "Support for Elliptic Curve Cryptography"

[2014-04-15 16:33] hohl opened #3 "Support for Message Digest 5 (MD5)"

[2014-04-15 16:34] hohl opened #4 "Support for Secure Hash Algorithm (SHA1)"
At the moment only SHA256 (which is the more recent one and preferred one) implemented. For backwards compatibility SHA would highly be appreciated.

[2014-04-15 16:35] hohl opened #5 "Add CocoaPods Podspec"

[2014-04-15 16:55] #4 closed, assigned to hohl

[2014-04-15 17:26] #3 closed, assigned to hohl

[2014-04-15 17:26] hohl opened #6 "Support for Data Encryption Standard (DES)"

[2014-04-18 15:51] #6 closed, assigned to hohl

[2014-04-18 15:53] #5 closed, assigned to hohl

[2014-05-08 00:31] krzyzanowskim opened #7 "Support for BigNumber"
I can't find it, is it wrapped already?

[2014-05-08 15:03] #7 closed, assigned to hohl

[2014-05-08 15:04] hohl opened #8 "Support for generating prime and random MIHBigIntegers"
Add some kind of `MIHBigIntegerFactory` which allows to generate random (between range or prime only) MIHBigIntegers.

[2014-05-21 11:28] hohl opened #9 "Export/Import keys via NSData"
Allow the exporting and importing of private and public keys as files. It would be good design to add these two interface:
- `MIHExporter`
- `MIHImporter`

...providing the ability to import/export `MIHPrivateKey`, `MIHPublicKey` and `MIHSymmetricKey`. Every file format could be one implementation for these interfaces.

There should also be the ability to set passwords when it is supported by the

[2014-05-25 14:04] #8 closed, assigned to hohl

[2014-06-06 03:40] skywalkerlw opened #10 "podfile configuration error"
I think there's a mistake in the introduction, should be
pod 'MIHCrypto', '~> 0.2.0'

[2014-06-06 07:09] #10 closed, assigned to nobody

[2014-06-25 14:39] hdoria opened #11 "Encrypt NSString using RSA"
I need to encrypt a NSString using a public from a webserver certificate on iOS and your library will be very useful, but I am having some problems.

Here's what i am doing:

[code]

newStr is always null. What I am doing wrong?

[2014-06-30 21:42] #11 closed, assigned to hohl

[2014-08-05 19:08] hdoria opened #14 "How to get public key in real time"
I can't add the certificate in my application bundle. I need to download the SSL certificate and extract the public key in real time. Is there a way to do this?

[2014-08-11 11:21] hohl opened #16 "X509"
Add a wrapper for X509 implementation of OpenSSL. This will allows to extract keys from common certificate files.

[2014-09-25 23:29] k06a opened #17 "Problem decrypting with RSA private key"
This is how I generated keys:

[code]

This is how I am crypting data:

[code]

With this values:

[code]

This is how I am trying to decrypt data:

[code]

With this values:

[code]

Can you help me with this error?

[2014-09-26 19:57] #17 closed, assigned to nobody

[2014-10-20 08:42] k06a opened #19 "Please fix some potential leaks"
Xcode have nice feature "Analyze":
![2014-10-20 12 41 24](https://cloud.githubusercontent.com/assets/702124/4698459/e6d62758-5834-11e4-80be-a7e3ca5fe15f.png)

It show potential leaks like this:
![2014-10-20 12 38 17](https://cloud.githubusercontent.com/assets/702124/4698461/f71158f4-5834-11e4-93a3-9082552c720e.png)

[2014-11-02 15:14] #19 closed, assigned to hohl

[2014-12-13 06:39] yuval-netanel opened #20 "Get RSA public key string"
I want to send the public key to the server.
This is how I tried to get the public key string, but it returns null:

[code]

Any suggestions?

[2014-12-31 06:36] akhilstanis opened #21 "[NSData MIH_dataByBase64DecodingString:] not decoding valid base64 strings"
`[NSData MIH_dataByBase64DecodingString:]` is behaving weird. Below code will return `nil` while it is a valid base64 encoded string

[code]

while below code decodes it correctly

[code]

[Drilling down the code](https://github.com/hohl/MIHCrypto/blob/master/MIHCrypto/Utils/NSData%2BMIHConversion.m#L123), I found out that you have used `0` for `NSDataBase64DecodingOptions`. And for me to get it w

[2015-01-09 03:05] lwsitachi opened #22 "how can I install MIHCrypto without using Cocoapods"
I was building a framework by a template named "iOS-Universal-Framework"(https://github.com/kstenerud/iOS-Universal-Framework)   I can add some other 3rd-party static library in my framework project.But I don't know how to add your code in it.So I just want to know that if I can build your source code into a static library without using Cocoapods.

[2015-01-09 21:25] hohl commented on #22
MIHCrypto only has one dependency, which is (you might have guessed it already) OpenSSL. So all you need todo is:

 - copy all files into your project
 - build OpenSSL for iOS and link it against your framework

However this is quite a heavy task comparing to just add a dependency via CocoaPods. (If there isn't any good reason not to use CocoaPods don't try to ignore this helpful tool!)

[2015-01-09 21:25] #22 closed

[2015-01-11 17:58] hohl commented on #21
I'm sorry, but I can't tell you anymore why I don't used `NSDataBase64DecodingIgnoreUnknownCharacters`. I'll think about changing it in the next release if I won't find the reason why I used 0.

[2015-01-13 07:29] lwsitachi commented on #22
okay,thx

[2015-02-11 11:49] tillmannheigel commented on #17
Hi I've got the same bug here ("MIHCrypto", "~> 0.3.2"). These are my lines of code:

    NSString *encrypted_text = @"BdhFH0sd7e9DExiCd50Ykh4spm2BX126skjJ1o8HHjKsN+J7r9IoI9kbB9AAacEpJsAfyesiJsq5gDBhQtcNbB6l88aSgPrEoVwR9ilzuzVcv1q3J1dxs4uIEMuhzoWT+R8//dD2jDdXPyFsdGWJc10CEizPFKpmy2jWhvU8CVs=";
    NSBundle *myBundle = [NSBundle mainBundle];
    NSString *privateKeyPath= [myBundle pathForResource:@"

[2015-02-11 11:54] tillmannheigel commented on #17
by the way: OpenSLL(?!) intern...

[2015-02-11 14:35] tillmannheigel opened #23 "Decrypting RSA"
Hi I've got the same bug as in #17 here ("MIHCrypto", "~> 0.3.2"). These are my lines of code:

    NSString *encrypted_text = @"BdhFH0sd7e9DExiCd50Ykh4spm2BX126skjJ1o8HHjKsN+J7r9IoI9kbB9AAacEpJsAfyesiJsq5gDBhQtcNbB6l88aSgPrEoVwR9ilzuzVcv1q3J1dxs4uIEMuhzoWT+R8//dD2jDdXPyFsdGWJc10CEizPFKpmy2jWhvU8CVs=";
    NSBundle *myBundle = [NSBundle mainBundle];
    NSString *privateKeyPath= [myBundle pathForR

[2015-02-11 15:04] hohl commented on #17
The error message `data greater than mod len` is already in the error message. RSA should only be used to encrypt small pieces of code.

The data you want to encrypt MUST BE smaller then the key. For example a 1024-bit key can only encrypt up to ~1000-bits of data (some other bits are lost for padding). RSA is not designed to encrypt large blocks of data. In fact it would lost it's cryptographic s

[2015-02-11 15:10] hohl commented on #23
As mentioned in the other issue: The data you want to encrypt is too large. RSA only can encrypt data up to the size of it's key.

You should read about the pros and cons of RSA. Then you will notice that RSA isn't designed for encrypting big data sets. The main purposes of RSA are:
 - encrypting keys of other cryptographic approaches (for ex. for safely exchanging them over the internet )
 - encr

[2015-02-11 15:10] #23 closed

[2015-02-11 15:13] tillmannheigel commented on #17
Thank's for your comment, hohl!

My data was a really small piece of data (username and password). After that I tried another OpenSSL wrapper (https://github.com/jslim89/RSA-objc), that worked fine.

Last thing: 'OpenSLL' -> 'OpenSSL' ...

[2015-02-11 15:27] hohl commented on #17
You can use RSA to encrypt data of any kind of size. This is done by splitting up the data into blocks of sizes of the key and then encrypting every block after another. But this is considered insecure since it could leak the key. Standard OpenSSL prevents this, by not implementing this "block-splitting" feature and my wrapper doesn't add this feature too.

The sample you posted consisted of 1416

[2015-02-11 15:35] hohl opened #24 "RSA encrypting data which is larger then the key causes an uninformative error message"
*Using RSA with large blocks of data seems to be a common issue. Some wrappers handle this by splitting the data into smaller blocks and encrypting every block separately. But since RSA isn't intended to encrypt large blocks of data this won't be implemented in this wrapper. (Better combine RSA with something like AES if you need features of both worlds.)*

At the moment (RELEASE-0.3.2) the error

[2015-02-12 10:16] tillmannheigel commented on #17
That is a very interesting fact. Thank you!!

[2015-02-13 00:08] k06a commented on #17
Secure way to encrypt any size of data with RSA is to generate AES key, encrypt all data with AES and the encrypt AES key with RSA. So passive listener will always see really random bytes encrypted with RSA. So he will not be available to get any statistic values and decrypt...

[2015-02-13 13:28] hohl opened #25 "Update MIHCrypto for OpenSSL-1.0.1.l"
Due to the documentation there shouldn't be any breaking changes in OpenSSL-1.0.1.l. If all unit tests run fine, update should be done.

[2015-02-13 13:45] #25 closed

[2015-02-13 13:55] hohl commented on #24
Related issues: #23, #17

[2015-02-13 14:13] #24 closed

[2015-02-22 21:13] askxlogic opened #26 "<Foundation/Foundation.h> is lost"
MIHCripto don't have #import <Foundation/Foundation.h> in root header. For example MIHCoding.h is NSObject protocol child. But in this file I can't find any way for loading <Foundation/Foundation.h>. I have a lot of build errors.

[2015-02-23 09:40] hohl commented on #26
Do you use CocoaPods for dependency management or do you just copy all source files into your project?

[2015-02-23 10:36] askxlogic commented on #26
I use CocoaPods.
My Podfile:
[code]

[2015-02-26 18:25] askxlogic commented on #26
Adding string
[code]
in file  **MIHCoding.h** solve this problem.

[2015-02-27 12:51] hohl commented on #26
Thanks, I may add it in next release. Most developers don't seem to need it, however it won't hurt anybody too.

[2015-02-28 11:17] hohl commented on #26
Sorry, would like to keep it open as a reminder for myself to add the `#import`.

[2015-02-28 14:35] askxlogic commented on #20
@hohl I have same issue. I found that reason of it is wrong encoding of NSData that return method
[code]
I think that this issue and [this issue](https://github.com/hohl/MIHCrypto/issues/21) is same.

[2015-02-28 15:05] hohl commented on #20
You mean, using `NSDataBase64DecodingIgnoreUnknownCharacters` fixes this issue?

[2015-02-28 16:27] askxlogic commented on #20
For fixing this issue change method
[code]
to
[code]
in **MIHRSAPublicKey.m**

[2015-02-28 16:29] askxlogic commented on #20
I am sorry. It just looks like similar bugs. Everything working for me without ```NSDataBase64DecodingIgnoreUnknownCharacters```

[2015-02-28 23:44] hohl commented on #20
`description` is for debugging anyway. However I thought this issue is about not being able to generate public keys? If it's about the `description` output I may need to have second look at it.

[2015-03-01 06:45] yuval-netanel commented on #20
Sorry if it wasn't clear, but it's about the `description` output.

[2015-03-01 09:31] hohl commented on #20
Oh dear. Since the `description` field has been added for testing purposes I've forgotten about the unit tests for, I'm sorry.

I'll fix it immeditley, this should do the job:

    - (NSString *)description
    {
        return [[self dataValue] MIH_base64EncodedString];
    }

[2015-03-01 09:46] #20 closed

[2015-04-15 14:52] trotamund opened #27 "How to set up modulus to encrypt with public key"
Hi, I have to encrypt a text with RSA PKCS#1 and I have got modulus and exponent (both of them in hexadecimal and decimal format), ¿How can I set up modulus to encrypt with public key?

[2015-05-19 10:34] edele commented on #9
@hohl is it possible for now at least to get NSData of generated keys?

[2015-05-19 12:49] hohl commented on #9
What do you mean with `NSData`. It is already possible to use `toData` for exporting. However at the moment you have no choice about choosing the (file) format. For example MIHRSAPublicKey will always export to "*.pub" files as you may know it from OpenSSL anyway (for example same format as used by `~/.ssh/id_rsa.pub` for SSH auth).

However this issue is about moving these functionality from the

[2015-06-15 21:25] scastro opened #29 "Question: RSA key in blocks"
Hi,

I have to exchange keys with the server (in JAVA using bouncycastle) and my iOS app. So the server has the key size issue and send me the key in blocks (each one encrypted with my public key). The problem is that when I want to decrypt one of these blocks I get the error

 "Size of data to encrypt must not exceed size of RSA key. ...."

But I don't really understand why because each block is

[2015-06-16 06:04] hohl commented on #29
*(Due to my own experience BouncyCastle and MIHCrypto work very well together. So don't worry about that.)*

Your server response is 256 bytes long (which is equal to 2048 bits) while the key you used is 1024 bits long. This means the server has encrypted your message with a longer key then `clientPublicKey`. Maybe you are using the wrong key at server side or something went wrong during the trans

[2015-06-16 06:08] hohl commented on #29
Some other theory: Do you split your blocks into sizes of 1024 at server side and then encrypt it? Becuase a

[2015-06-16 06:18] hohl commented on #29
Some other idea: Are you splitting your data into blocks of 1024 bytes before transmitting? Because that wouldn't work as expected. In RSA (at least in RSA_PKCS1_OAEP_PADDING mode, which is enabled per default) an random padding is added at the beginning and end of every encoded data package. So you loose some additional bytes. (For example when having a 1024 bits key, you can at maximum encrypt d

[2015-06-16 14:55] scastro commented on #29
Thanks @hohl for all the info. I think the problem was trying to convert the HEX returned to the server to the NSData, that's could cause the size error. I think I fixed the problem using this function:

    + (NSData *)dataFromHexString:(NSString *)string
    {
        string = [string lowercaseString];
        NSMutableData *data= [NSMutableData new];
        unsigned char whole_byte;
        ch

[2015-06-16 16:36] scastro commented on #29
Ok, I think we got it running. I will post the code later so it will help someone else with the same problem, basically a newbie like me :)

[2015-06-24 17:54] testower opened #30 "Error re-creating keys after encoding and decoding to/from strings"
I'm trying to create instances of MIHRSAPublicKey and MIHRSAPrivateKey using ```initWithData:``` after they have been encoded as strings from their data values, and decoded back into data values.

See following code example. The asserts on data equality succeed but the asserts on key and keypair equality fail.

Not sure if this is a bug, or me misunderstanding the intended usage of these APIs. Wou

[2015-06-24 20:31] hohl commented on #30
You're right. Thats a bug caused by missing implementation of `isEqual:` and `hash` in `MIHRSAPrivateKey` and `MIHPublicKey`. Thanks for pointing out. I'll fix this in the next release.

[2015-09-24 03:58] dvidlui commented on #24
Hi Michael,
Can you let me know how to use RSA in combination with AES in current MIHCrypto ios library?

[2015-09-24 08:08] hohl commented on #24
There is no automated way, but it's quite simple.

*A does:* Generate a random key for use with AES
*B does:* Generate a private/public key pair for RSA (see `MIHRSAKeyFactory`)
*A does:* Download the public key of A (it's up to yours how to transport the key, maybe via HTTP?)
*A does:* Encrypt the generated AES key via the public RSA key of B (see `MIHRSAPublicKey`)
*A does:* Send the encrypted A

[2015-09-24 08:29] dvidlui commented on #24
Thank you for your detailed instructions.

[2015-11-06 09:54] aetsyss opened #31 "how about OAEPWithSHA1AndMGF1Padding?"
Hi!
Is it possible to decode / encode data with OAEPWithSHA1AndMGF1Padding?

[2015-11-06 13:15] hohl commented on #31
I'm sorry, I never tried/needed `OAEPWithSHA1AndMGF1Padding`. However `MIHRSAPrivateKey` and `MIHRSAPublicKey` have a property called `rsaPadding` (of type int) which just stores the padding flag for OpenSSL. You can try to set it to `OAEPWithSHA1AndMGF1Padding` and verify the output against some known implementation.

[2015-11-09 12:41] aetsyss opened #32 "AES / GCM"
Hi,
Is it possible to use AES / GCM encryption?

[2015-11-09 17:00] hohl commented on #32
Not yet, I'm sorry. However it would just require a few changes in MIHAESKey.m to get this working.

[2015-11-18 14:37] Aleph72 opened #33 "Help: I need to save the keypair somewhere to persist it"
Hello,
I'm trying to use MIHCrypto and so far seems good for me.
The only problem I'm having right now is saving the key pair somewhere.
In my app I'm using an encrypted database, so my first thinking was saving there the keys. No problems with the public key, but when I try to save the private key it just does not work.
I'm trying to save the 'privateKey.dataValue' to the DB but for some reasons

[2015-11-18 15:45] hohl commented on #33
`[MIHRSAPrivateKey dataValue]` and `[MIHRSAPublicKey dataValue]` just return an `NSData` instance which can be used to rebuild the key via `[MIHRSAPrivateKey initWithData:]` and `[MIHRSAPublicKey initWithData:]`. Everything else is up to you and without more details(/code) I can't help you any further.

[2015-11-27 09:22] Aleph72 commented on #33
Never mind, I've finally been able to save it to the Keychain.

[2015-11-27 09:23] hohl commented on #33
No problem. Hope you will find MIHCrypto useful.

[2015-11-27 09:23] #33 closed

[2015-11-27 09:28] Aleph72 opened #34 "Help with RSA signature"
Hello,
I'm using this framework to generate the key pair and sign a message.
I'm creating the key pair with:
    self.rsaKeyFactory = [[MIHRSAKeyFactory alloc] init];
    self.rsaKeyFactory.preferedKeySize = MIHRSAKey1024;
    self.keyPair = [self.rsaKeyFactory generateKeyPair];

and then sign with:
    - (NSString *)signMessageData:(NSData *)data withKey:(MIHRSAPrivateKey *)privKey {
        NSEr

[2015-11-27 12:08] Aleph72 commented on #34
I'll answer myself this time.
The problem was the line "NSString *signString = [signatureData MIH_base64EncodedString];"
signatureData is exactly 128 byte, so I changed the method to return directly the NSData instead of converting it back to a NSString.

[2015-11-29 16:49] #34 closed

[2015-12-09 08:31] EliasNaranjeeSani opened #35 "Question: How to get RSA public key as string"
Hi,

I generate the keys as below:

MIHRSAKeyFactory *factory=[[MIHRSAKeyFactory alloc]init];
MIHKeyPair *keys = [factory generateKeyPair];

Now, I need to get string value of public key for sending it to our web services.
How can I get it?

Appreciate any help,

[2015-12-09 08:37] hohl commented on #35
RSA keys are just a tuple of large numbers, so you need to specify what format you would like to get. However I guess you mean the most common BASE64-based OpenSSL format. If you want that, all you need to do is:

`[[publicKey dataValue] toString]`

If required (for example for storage in PEM files), you need to wrap that string by `-----BEGIN RSA PUBLIC KEY-----` and `-----END RSA PUBLIC KEY-----

[2015-12-09 08:46] EliasNaranjeeSani commented on #35
Thanks for your quick reply. Yes I meant BASE64-based.
Actually the code you provided does not compile.

I've also tried below:
    NSString *string = [[NSString alloc] initWithData:[keys.public dataValue] encoding:NSUTF8StringEncoding];

But the string is always nil.

[2015-12-09 08:55] hohl commented on #35
Yes, that's what I meant. Can you please checked that `keys.public != nil`?

(`[publicKey dataValue]` should work fine, theres a test case `[MIHRSAKeyTests testDataValue]` doing exactly that and at least it seems to pass)

[2015-12-09 09:00] EliasNaranjeeSani commented on #35
Sure I've checked the keys.public and it was not nil.

Oh so weird,
Seems the below solution worked for me!
[code]

[2015-12-09 09:00] hohl commented on #35
Try:

     [[keys.public dataValue] base64EncodedString]

Just had a look [at the source of `dataValue`](https://github.com/hohl/MIHCrypto/blob/master/MIHCrypto/RSA/MIHRSAPublicKey.m#L97-L130) and it looks like it returns the data as binary (not as base64 string).

*I'm sorry, it was quite a while ago when I wrote that lines of code.*

[2015-12-09 09:01] EliasNaranjeeSani commented on #35
We posted together :)
Thank you so much @hohl .

Really appreciate your help.

[2015-12-09 09:02] hohl commented on #35
No problem, hope you'll find MIHCrypto useful for your project.

[2015-12-09 09:02] #35 closed

[2015-12-13 21:28] GabrieleCocco opened #36 "Obtain public key data in a common format"
Hi, i gotta say this is the only library I found in months or research that allows to -easily- handle keys, signature and encryption in iOS: great job!
I'm using it to sign data that must be sent (signed) together with public key to a cloud service for authentication.
Unfortunately, I'm having troubles "exporting" the public key in a format that can be used by .NET.
As a matter of fact, I also tri

[2015-12-14 04:00] akhilstanislavose commented on #36
`openssl rsautl` by default expects the `-inkey` parameter to be in PEM in format, but [MIHRSAPublicKey#dataValue](https://github.com/hohl/MIHCrypto/blob/master/MIHCrypto/RSA/MIHRSAPublicKey.m#L116) method returns the public key in DER format. You can use DER formatted keys with `openssl rsautl` by setting `-keyform` parameter to **DER**

[2015-12-14 11:19] GabrieleCocco commented on #36
I managed to use PEM anyway by manually (re)adding the header stripped in dataValue function. Seems to work ok in .NET as well. Thanks.

[2015-12-14 11:19] #36 closed

[2015-12-14 11:41] hohl commented on #36
Sorry, for not supporting multiple formats with `dataValue`. I'm aware that `dataValue` is small miss-design in the library, that's why there is already a draft for a different way to export keys by defining a data format - however yet, I didn't find time to implement it - see #9 for more details.

[2015-12-17 14:13] aetsyss opened #37 "issue with cryptlib.a"
Hi,
could you pls help me to resolve the issue - the real device works perfect, but when I'm trying to run my project with this lib on a Simulator there is an error:
...MyProject/Pods/OpenSSL-Universal/lib-ios/libcrypto.a(cryptlib.o), building for iOS simulator, but linking in object file built for OSX, for architecture x86_64

Thank you!

[2015-12-22 07:56] EliasNaranjeeSani opened #38 "Problem in signing with SHA256"
Hi,

First, thanks for your awesome tool.
I'm trying to sign a string with SHA256 as below.
,,,

    NSData *messageData = [message dataUsingEncoding:NSUTF8StringEncoding];
    NSData *signature = [[keyPair private] signWithSHA256:messageData error:&signingError];

,,,

There is no signing error and the signature variable in not nil.
I need the signature as a base64 encoded string but when I wanna

[2015-12-26 18:23] hdoria opened #39 "Carthage support"
Any plans for Carthage support?

[2015-12-26 21:30] hohl commented on #39
I'm not using it myself. However I guess it shouldn't be that different from CocoaPods. I'll have a look at in the next days.

[2016-01-08 08:45] hohl commented on #39
I just spend some time in reading into Carthage and it looks like a nice tool, but quite different to CocoaPods. And so is the creation of the required files. Since I'm not (yet) using Carthage, I don't want to spend much time on creating support for it, I'm sorry.

But if you've got experience with creating Carthage frameworks, you're free to fork the repo, add support for it and send me a push-r

[2016-01-10 13:24] hdoria opened #40 "CocoaPods with use_frameworks! option"
I cannot get CocoaPods to install MIHCrypto with the "use_frameworks!" option in my Podfile.

!] The 'Pods' target has transitive dependencies that include static binaries: (Pods/OpenSSL-Universal/lib-ios/libcrypto.a and Pods/OpenSSL-Universal/lib-ios/libssl.a)

Are there any workarounds? I know I can remove the use_frameworks! option, but I need it for other target dependencies using Swift.

Than

[2016-01-10 14:01] hohl commented on #40
I'm sorry, but there isn't much I can do for you on that issue. The issue is related to https://github.com/krzyzanowskim/OpenSSL/issues/22.

[2016-01-21 19:29] dtokos opened #41 "Can't compile any app"
Hello,
I'm installing using MIHCrypto this pod file:

target 'MIHCryptoProject' do
  pod 'MIHCrypto', '~> 0.4'
end

and when i compile the project i get this error:
linker command failed with exit code 1

duplicate symbol _llvm.embedded.module in:
    /Users/dtokos/Documents/dobro/Xcode/fsjgh/Pods/OpenSSL-Universal/lib-ios/libcrypto.a(bio_lib.o)
    /Users/dtokos/Documents/dobro/Xcode/fsjgh/Pods/O

[2016-01-22 11:05] hohl commented on #41
Sounds like an issue related [to this repository. OpenSSL-Universal](https://github.com/krzyzanowskim/OpenSSL) is a dependency of `MIHCrypto` which seems to have troubles with the `x86_64` architecture. You'd better open an issue on the bug tracker of that repository.

[2016-01-29 17:29] hohl commented on #41
Any progress on your issue?

[2016-02-05 07:46] aetsyss commented on #41
Have the same problem on Xcode 6.4. Try Xcode 7

[2016-02-14 09:17] NVAT opened #42 "Digital Singned PKCS8 format"
Hello Everobody,how can I create digital singnature SHA256 with RSA algoritm where padding is PKCS8

[2016-03-17 13:59] #26 closed

[2016-03-17 13:59] #39 closed

[2016-03-17 14:00] hohl commented on #41
Should be fixed in release 0.4.1.

[2016-03-17 14:00] #41 closed

[2016-03-17 14:03] hohl commented on #37
Are you using the most recent Xcode build? If yes, please try if this issue still occurs to you with release 0.4.1.

[2016-03-18 06:58] aetsyss commented on #37
Hi,
now it works even with 0.4.0. I don't know what was the problem. Perhaps the latest xcode version solved the problem. Thank you for your help and for you lib!!

[2016-03-18 06:58] #37 closed

[2016-07-13 11:11] zinyakov commented on #32
@hohl
here is the working AES GCM implementation in obj-c
https://github.com/aceisScope/EncryptionStew/blob/master/AESGCM.m
could you please add this?

[2016-08-04 03:38] mahbub08kuet opened #44 "Exception initializing MIHRSAPrivateKey with NSData"
![screen shot 2016-08-04 at 12 37 46 pm](https://cloud.githubusercontent.com/assets/1979225/17389556/5054b294-5a40-11e6-8c73-b7851fbc73d8.png)

[2016-08-31 08:16] indiandragon commented on #29
Hi @scastro , it would be great if you could post your code as many come here to look for implementation criteria regarding bouncy castle on java & MIH in iOS.

[2016-08-31 13:43] scastro commented on #29
I totally forgot about this, thanks for the reminder!

I can't share the entire code do to NDA stuff but I will share as much as I can.
I don't have access to the Java code in the server, so I will share as much as I can from the iOS app.

As I mentioned before my problem was to gather the "chunks" and build the keys to interact with the server. Send my public key and retrieve server public key fr

[2016-08-31 13:57] indiandragon commented on #29
@scastro That's great of you to respond to my request immediately, I'll check with your implementation and revert if I need any clarifications from you.

[2016-09-03 11:54] newdev7 opened #45 "RSA encryption using local certificate producing OpenSSL error"
I tried to get the RSA public key (PEM/DER)  from the certificate which stored locally. For getting data from the path, I used the following code.
[code]
After I got the data from the path, I tried to get the RSA public key like this.
`MIHRSAPublicKey *key = [[MIHRSAPublicKey alloc] initWithData:certData];`
I'm getting an error in this
[code]
This condition failed and it throws an error. In the co

[2016-09-03 12:04] hohl commented on #45
A certificate is not a public key. You're trying to load certificates into the class for public keys which won't work ever, since the class is not designed to work with certificates.

The `--- BEGIN PUBLIC KEY ---` and `--- END PUBLIC KEY ---` are part of the key and must not be removed. However, your certificate doesn't have any public key since it isn't a public. Instead there is `--- BEGIN CERT

[2016-09-03 12:05] hohl commented on #45
See also https://github.com/hohl/MIHCrypto/issues/16

[2016-09-03 12:05] #45 closed

[2016-09-03 12:09] #14 closed

[2016-09-06 06:45] indiandragon opened #46 "Supporting ECB mode for AES Encryption"
Hi @hohl ,

I know CBC mode for AES encryption is much secure than ECB mode, but as the server I'm connecting to has ECB mode of encryption/decryption I'm forced to use the same on the iOS client. Can you give me some pointers on implementing ECB mode in the MIHCrypto ?

[2016-09-06 08:03] hohl commented on #46
Hey, @indiandragon

It shouldn't be too hard to extend `MIHAESKey` to support ECB. Right now it is hardcoded to use the CBC chiper in [lines 126 to 136](https://github.com/hohl/MIHCrypto/blob/master/MIHCrypto/AES/MIHAESKey.m#L126-L136) and [lines 176 to 184](https://github.com/hohl/MIHCrypto/blob/master/MIHCrypto/AES/MIHAESKey.m#L176-L184). You could try to replace this hardcoded lines by adding f

[2016-09-06 12:19] indiandragon commented on #46
Hey @hohl , thanks for the information. I'll update when I implement the same.

[2016-09-20 02:48] FongRay opened #47 "Any plan to support OSX 10.11？"
Hi，i got many warnings with XCode 7 & OSX 10.11

![qq20160920-0](https://cloud.githubusercontent.com/assets/5010519/18655925/4aaf93f0-7f1f-11e6-9328-cf5585e7236e.png)

so how can i do RSA encrypt in OSX 10.11 El Capitan？

[2016-09-20 07:12] hohl commented on #47
How did you import the MIHCrypto project? This doesn't look like you installed it via CocoaPods?

These errors you're seeing telling you, that the OpenSSL version which has been build into OS X and iOS is deprecated and should not get used anymore. That's why MIHCrypto ships with an own up-to-date copy of OpenSSL which then gets bundled to your app when you ship it.

However, if you for example ju

[2016-09-21 07:36] FongRay commented on #47
@hohl Thanks! I copy the source just as you said, so i can solve it!

[2016-09-21 07:36] #47 closed

[2017-01-08 09:21] omerlh commented on #40
See this issue: cossacklabs/themis#127. After struggling with cococapod, I managed to solve compilation issues (after fixing your podspec according to what suggested in method 1 in that issue). Now I have another issue (Include of non-modular header inside framework module 'MIHCrypto.MIHRSAPrivateKey', I have couple of those because of openssl). After solving this, I can try to create a PR if you'

[2017-01-08 10:15] hohl commented on #40
This PR would be very welcome!

[2017-01-08 10:54] omerlh commented on #40
Create hohl/MIHCrypto#48. As I wrote in the PR, I solved only the original problem, as I still have the non-modular error. For now, I just copied your code to our project and hope this will solve it. Hope to have more time in the future to investigate this in depth.

[2017-01-09 06:59] omerlh opened #49 "RSA key generation seed?"
Hey,
After a quick google search, I find this [SO](http://stackoverflow.com/questions/12089536/how-to-always-generate-different-public-key-using-rsa-generate-key). So I looked in the [manual](https://www.openssl.org/docs/man1.0.2/crypto/RSA_generate_key_ex.html) and seems like the guy is correct and OpenSSL should be seeded before generating keys. My question is - did I understand it correctly? Be

[2017-01-09 09:03] hohl commented on #49
No need to do that, `libCrypto` seeds itself in `RAND_poll`. See this [SO question](http://stackoverflow.com/questions/23854058/how-to-seed-prng-for-usage-with-bn-rand) and the [OpenSSL wiki](https://wiki.openssl.org/index.php/Random_Numbers) for further reading on this topic.

However, for safety purposes, this library checks `RAND_status` to see if seed is prepared before doing anything, so you

[2017-01-09 09:03] #49 closed

[2017-01-09 09:09] omerlh commented on #49
ok, thank you!

[2017-02-03 13:19] maxisme opened #50 "Pod install error"
I am getting the error message when installing the pods:

My podfile is:

[code]

[2017-02-03 13:55] maxisme commented on #50
added [this](https://github.com/CocoaPods/CocoaPods/issues/6036#issuecomment-253650687) to the beginning and it fixed the issue.

[2017-02-03 13:55] #50 closed

[2017-02-24 05:58] phanisai4u opened #51 "transitive dependency error while working with cocoapods"
The 'Pods' target has transitive dependencies that include static binaries: (/Users/xxx/workspace/xcode/iBBS-Swift/Pods/OpenSSL/lib/libcrypto.a and /Users/xxx/workspace/xcode/iBBS-Swift/Pods/OpenSSL/lib/libssl.a)in

[2017-02-24 15:36] hohl commented on #51
duplicate of #40

[2017-02-24 15:36] #51 closed

[2017-05-30 03:40] ikzjfr0 opened #52 "can i create a self-signed certificate?"
as titled, can i create a self-signed certificate?

[2017-05-30 09:05] hohl commented on #52
No, this isn't supported yet due to missing X509 support. You can use MIHCrypto to sign anything, but there is no X509 support (see issue #16), which would be required to handle certifacte files.

[2017-05-30 09:05] #52 closed

[2017-09-14 02:07] Kejiasir opened #53 "How do I initialize MIHRSAPublicKey using the public key string returned by the server?"
@hohl  hey!  my server returns a public key string that needs to be decrypted through it, but it crashes when it is initialized by the following method

[code]
![qq20170914-100354](https://user-images.githubusercontent.com/14361443/30408882-3e4166d6-9934-11e7-981c-9fd5d42cdb45.png)

Hope to get your help, be grateful, wish you a happy life

[2017-09-14 02:23] Kejiasir commented on #53
Oh, I found a solution, thank you

[2017-09-14 02:23] #53 closed

[2017-09-15 09:01] hohl commented on #53
`initWithData` expects the binary data not a BASE64 encoded string of the data. But there is a helper included `NSData *publicKeyData = [yourPublicKeyString MIH_dataByBase64DecodingString]`. However, you don't even need that helper anymore since In more recent iOS and macOS versions a base64 encoding helper is included on the `NSString` class already.

[2017-09-19 16:43] maxisme opened #54 "'openssl/evp.h' file not found"
I am getting the error:

any idea why it is not there??

[2017-09-19 16:44] maxisme commented on #54
`aes.h` is

[2017-09-19 17:14] maxisme commented on #54
`bn.h` is also missing

[2017-09-19 17:27] maxisme commented on #54
Fixed - set deployment target from 10.8 to 10.9

[2017-09-21 12:27] maxisme commented on #54
All files in `openssl` cannot be found. I am file sharing from my MBP to my desktop I think it must be to do with the search paths but they all seem fine.

It works fine if I copy the files locally and also if I run on the MBP.

[2017-09-21 12:29] hohl commented on #54
How did you install MIHCrypto and OpenSSL? Via CocoaPods? The build target version shouldn‘t matter, as long it is above 10.7.

[2017-09-21 12:30] maxisme commented on #54
wow thanks for the fast reply. Yes CocoaPods.

[2017-09-21 12:31] maxisme commented on #54
in `MIHCrypto` you import `OpenSSL-Universal` like `#import <openssl/*>` which seems weird?

[2017-09-21 12:38] hohl commented on #54
Ok, I didn‘t expect that. It sounds like OpenSSL isn‘t setup as a dependency. But CocoaPods does all that for you. So there really shouldn’t be anything you could have done wrong.

Where there any errors when adding the dependcy? Maybe you could try removing/adding the MIHCrypto dependency (to reinstall it).

[2017-09-21 12:40] hohl commented on #54
Why is that wired? MIHCrypto is a wrapper for Objective-C build around OpenSSL. That‘s why it also needs OpenSSL as a dependcy. But as said before, CocoaPods setups all the dependencies for you.

[2017-09-21 12:45] maxisme commented on #54
god that is awkward. Reinstalled and now working. Thank you

[2017-09-21 12:45] #54 closed

[2017-09-21 12:46] hohl commented on #54
Glad you resolved it.

[2017-09-21 13:18] maxisme opened #55 "Share and use public and private key"
How could I go about sharing and then using a generated public key?

I have wrote the functions:

[code]

The first function will return a string representation of the `MIHPublicKey` or `MIHPrivateKey` object.
And the second from the string to the object.

It would be cool if I could export the key in a format similar to a .pem file. It would also be great if I could read that format and turn it b

[2017-09-21 20:38] maxisme commented on #55
I have noticed the `dataValue` but what about being able to set this?

[2017-09-22 07:25] hohl commented on #55
All keys (symmetric and asymmetric) have a constructor `- initWithData:dataValue`and a getter `dataValue` which work with the raw key values. PEM is just the raw values BASE64 encoded. Have a look at the unit tests in [MIHRSAKeyTests.m](https://github.com/hohl/MIHCrypto/blob/master/MIHCryptoTests/RSA/MIHRSAKeyTests.m) for sample usage with PEM files.

[2017-09-22 09:50] maxisme commented on #55
Awesome thank you.

Have you thought about implementing Elliptic Curve technology?

[2017-09-25 05:17] hohl commented on #55
Yes, ECC was on my TODO list. But since I never needed it I also never done so.

[2018-03-23 01:12] #55 closed

[2018-07-13 23:39] crono81 commented on #38
Try:
`NSLog(@"%@", [[NSString alloc] initWithData:[signature base64EncodedDataWithOptions:NSDataBase64EncodignEnLines¡WithLineFeed] encoding:NSUTF8StringEncoding]);`

[2018-08-25 09:15] lolgear opened #56 "Current status of repository?"
Is it alive?

[2018-08-25 09:35] lolgear commented on #56
@hohl
ECDSA signing and verifying, of course.
However, I will make PR soon.

[2018-09-24 07:46] #2 closed

[2018-10-09 23:18] skytodmoon opened #58 "0.5.0 can not find in the pod repo"
pod "MIHCrypto", "~> 0.5.0" failed

[2018-10-10 05:39] hohl commented on #58
Please use release 0.4.1 instead. There have been plans to release 0.5 already, but then there have been difficulties which blocked the release in the last second. I‘ll fix the README, sorry.

[2018-10-10 05:39] #58 closed

[2018-10-13 21:07] hohl opened #59 "add a disabled state"
instead of deleting the record when it's expired, maybe just disable it - so that it can get reenabled at any time in the administrative area

[2019-01-31 21:47] cgomezmendez commented on #30
This report is from 2015, was this fixed?

[2019-02-01 09:41] hohl commented on #30
I don't think so. As described in my comment from 2015 it would be easy to fix, by implementing `isEqual:` and `hash` methods, but I never did so. If you need this functionality, fastest way to get it into this library would be to implement it yourself and create a pull-request. Simplest possible solution for `hash` would be to call `dataValue` and create a hash of the returned string. For `isEqua

[2020-04-30 02:30] zty0 opened #60 "memory leak found in MIHRSAPrivateKey"
<img width="811" alt="Screen Shot 2020-04-30 at 10 24 47 AM" src="https://user-images.githubusercontent.com/9492506/80665897-4e037680-8acd-11ea-82ca-492e21743b24.png">

Is there a reason that this line of code `EVP_PKEY_free(pkey);` is commented?

[2020-04-30 07:59] zty0 commented on #60
not only pkey is leaked, privateBIO is also leaked in this code

[2020-04-30 08:00] hohl commented on #60
Thank you for pointing that out. Looking at the commit history, I am to blame for the uncommented line myself, but as this happened 6 years ago, I have no clue anymore why I did that. Let my quickly check out, whether it would break anything when I uncomment that part, but I guess it is needed by `EVP_PKEY_get1_RSA ` as that seems to only use it by reference.

[2020-04-30 08:03] hohl commented on #60
Indeed, `privateBIO` also seems to be leaked a few lines below (in `- (NSData *)dataValue`) too.

[2020-04-30 08:06] hohl commented on #60
As `EVP_PKEY_free` does references counting according internally to the [OpenSSL docs](https://www.openssl.org/docs/man1.1.0/man3/EVP_PKEY_free.html) it should be fine to call it in the `@finally` block, so I really can't see why that line was uncommented 6 years ago.

[2020-04-30 08:13] zty0 commented on #60
I checked source code of Openssl a few hours ago, I think it should be safe to just free `privateBIO` and `pkey` in the `@finally` block.

[2020-04-30 08:19] zty0 commented on #60
@hohl actually, you only fixed this problem in `MIHRSAPublicKey.m` `MIHRSAPrivateKey.m` has the same problem

[2020-04-30 08:20] zty0 commented on #60
oh, my bad. I missed the other commit reference. closing the issue

[2020-04-30 08:20] #60 closed

[2020-05-06 07:16] zty0 opened #62 "cannot find the newest version(0.5.0) in pod"
@hohl hello, do you forget to publish the newest version of this library to center repo of cocoapods?

[2020-05-06 07:28] hohl commented on #62
No, I did not forget to upload it there. But uploading it in its current form is not possible, as (since changes in CocoaPods 1.0) the linting of the library fails and I (and some supporters) could not figure out a way to get it linited while still relying on the OpenSSL library as a dependency.

Best way to use the library right now is to load it directly from this repo (and maybe fix it to a com

[2020-05-06 07:31] zty0 commented on #62
oh, Ok. that's unfortunate. I'll load it directly from this repo, thanks.

[2020-05-06 07:31] #62 closed

[2020-05-27 06:42] lvzhao666 opened #63 "Use ECC encryption to decrypt how to use."

[2020-06-01 07:43] hohl commented on #63
ECC support is only available through MIHCrypto version 0.5.0 which is not available through the central Cocoapods directory. To manually install MIHCrypto 0.5.0, run:

[code]

Then you can find ECC support through the `MIHEC*` classes.

[2020-06-01 07:43] #63 closed